    * {
        box-sizing: border-box;
    }
    
    .encabezado {
        width: 950px;
        margin: auto;
    }
    
    .conector {
        width: 960px;
        height: 10px;
        background-color: #333;
    }
    
    header {
        width: 980px;
        height: 100px;
        background: #222222;
    }
    
    .header .texto {
        text-align: center;
    }
    
    header nav ul li {
        display: inline-block;
        padding: 10px;
    }
    
    .header nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    
    .header nav ul li a:hover {
        color: #fff;
    }
    
    .top {
        margin-top: 30px;
    }
    
    .menu {
        float: right;
    }
    
    .menu .container-1 {
        display: inline-block;
    }
    
    .menu a {
        color: #fff;
        text-decoration: none;
        padding: 20px;
    }
    
    .menu a:hover {
        background: #144a91;
    }
    
    #banner {
        margin-top: 50px;
        position: relative;
    }
    
    #banner img {
        width: 100%;
        height: 100%;
    }
    
    #banner .container-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #222222;
    }
    
    section {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .img {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .cuerpo {
        overflow: hidden;
    }
    
    .caja {
        float: left;
        width: 350px;
        margin: 11px;
        border: 1px solid;
    }
    
    .subtitulo {
        background: #222222;
    }
    
    .servicios {
        color: #fff;
        text-align: center;
        padding: 15px 0;
    }
    
    .efecto:hover {
        opacity: 0.11;
        cursor: pointer;
    }
    
    .contenido {
        padding: 10px;
        text-align: justify;
    }
    
    .boton {
        text-align: center;
        padding: 8px 20px;
        margin: 12px 0;
        background: #222222;
        border-radius: 5px;
        color: #fff;
    }
    
    .boton:hover {
        background-color: #144a91;
        color: #fff;
        cursor: pointer;
    }
    
    .titulo {
        text-align: center;
        padding: 20px 0 15px 0;
        color: #ff7600;
        font-size: 35px;
    }
    
    body {
        background: #181818;
        color: #fff;
        line-height: 1.5;
        font-family: 'Quicksand', sans-serif;
        padding: 0 1.5em;
        grid-template-columns: 1fr 1fr;
    }
    
    select {
        background: #222222;
        color: #fff;
    }
    
    .container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    .logo {
        text-align: center;
        font-size: 3em;
    }
    
    .logo span {
        color: #B70E21;
    }
    
    .contact-wrapper {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    }
    
    .contact-wrapper>* {
        padding: 1em;
    }
    
    .contact-form {
        background: #222222;
    }
    
    .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .contact-form form label {
        display: block;
    }
    
    .contact-form form p {
        margin: 0;
        padding: 1em;
    }
    
    .contact-form form .block {
        grid-column: 1 / 3;
    }
    
    .contact-form form button,
    .contact-form form input,
    .contact-form form textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        border-bottom: 1px solid #d63031;
    }
    
    .contact-form form button {
        background: #B70E21;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }
    
    .contact-form form button:hover,
    .contact-form form button:focus {
        background: #d63031;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0;
    }
    /* CONTACT INFO */
    
    .contact-info {
        background: #000;
    }
    
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0;
    }
    /* LARGE SIZE */
    
    @media(min-width: 700px) {
        body {
            padding: 0 4em;
        }
        .contact-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        .contact-wrapper>* {
            padding: 2em;
        }
        .contact-info h4,
        .contact-info ul,
        .contact-info p {
            text-align: left;
        }
    }